.search {
    font-size: larger;
    margin-right: 10px;
    display: inline-block;
}

.float-right{
    float: right;
}

.tble {
    color: blue;
}

.results, #details-content{
    width:60%;
    margin:0 auto;
}


.banner-img{ 
    height: auto;
    width: 100%;
}

.title{
    font-size: 70px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 30%; 
    font-family: Arial,sans-serif;
    color: #fff;
    width: 60%; /* Set the width of the positioned div */
}

.navbar{
    margin-bottom: 0;
}

.center{
    text-align: center;
}

.top10-width{
    width: 30%;
    margin:0 auto;
}

.polarising {
    width : 13%;
}

.search-form {
    display: flex;
    flex-direction: row;
   
}

.sort-item {
    margin-right: 15px;
}

.sort{
    display: flex;
     align-items: baseline;
}

.page-container {
    position: relative;
    min-height: 100vh;
  }

footer{
    margin-top: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:0.1rem;   
}

.content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

footer div{
    padding: 25px;
}